################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/src/Project/node_modules
/src/Feature/Navigation/code/obj
/src/Project/Website/code/obj/Release
/src/Project/Website/code/obj/Debug
/gulp-config.local.js
/.vs
/src/Feature/Navigation/code/bin
/src/Feature/Navigation/serialization/bin/Debug/bin
/src/Feature/Navigation/serialization/bin
/src/Project/Website/code/bin
/src/Feature/Navigation/serialization/Rightpoint.Commerce.Feature.Navigation.Master.scproj.user
/src/Project/Website/serialization/obj
/src/Project/Website/serialization/Rightpoint.Commerce.Project.Website.Master.scproj.user
/src/Feature/Navigation/serialization/obj/IconCache
/packages
/src/Project/Website/code/Rightpoint.Commerce.Project.Website.csproj.user
/Rightpoint.Commerce.sln.DotSettings.user
/src/Feature/Navigation/code/Rightpoint.Commerce.Feature.Navigation.csproj.user
/src/Feature/Navigation/code/Rightpoint.Commerce.Feature.Navigation.csproj.user
/UpgradeLog2.htm
/UpgradeLog.htm
/src/Project/Website/serialization/bin/Debug
/UpgradeLog4.htm
/UpgradeLog3.htm
/src/Project/Website/code/Styles/rightpoint/project
/src/Project/Website/code/Scripts/rightpoint/project
/src/Project/Website/code/Styles/rightpoint/main.css
/src/Project/Website/code/Scripts/rightpoint/main.min.js
/src/Foundation/Common/code/bin
/src/Foundation/Common/code/obj/Debug
/src/Foundation/Common/code/Rightpoint.Commerce.Foundation.Common.csproj.user
/src/Foundation/Common/serialization/obj
/src/Foundation/Common/serialization/Rightpoint.Commerce.Foundation.Common.Master.scproj.user
/src/Feature/FeaturedBrands/code/bin
/src/Feature/FeaturedBrands/code/obj/Debug
/src/Feature/FeaturedBrands/code/Rightpoint.Commerce.Feature.FeaturedBrands.csproj.user
/src/Feature/FeaturedProduct/code/bin
/src/Feature/FeaturedProduct/code/obj/Debug
/src/Feature/FeaturedProduct/code/Rightpoint.Commerce.Feature.FeaturedProduct.csproj.user
/src/Feature/FeaturedProduct/serialization/obj
/src/Feature/Footer/code/bin
/src/Feature/Footer/code/obj/Debug
/src/Feature/Footer/code/Rightpoint.Commerce.Feature.Footer.csproj.user
/src/Feature/Footer/serialization/obj
/src/Feature/Footer/serialization/Rightpoint.Commerce.Feature.Footer.Master.scproj.user
/src/Feature/Jumbotron/code/bin
/src/Feature/Jumbotron/code/obj/Debug
/src/Feature/Jumbotron/code/Rightpoint.Commerce.Feature.Jumbotron.csproj.user
/src/Project/Website/serialization/bin
/src/Feature/FeaturedProduct/serialization/Rightpoint.Commerce.Feature.FeaturedProduct.Master.scproj.user
/src/Feature/Jumbotron/serialization/Rightpoint.Commerce.Feature.Jumbotron.Master.scproj.user
/src/Feature/FeaturedBrands/serialization/Rightpoint.Commerce.Feature.FeaturedBrands.Master/obj
/src/Feature/Jumbotron/serialization/obj
**/.vscode/*

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/semantic

**/node_modules
**/node_modules/**/*
**/node_modules/*
/src/Project/node_modules
